@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "IBM PlexSans Thai";
  src: url("IBMPlexSansThai-Regular.woff2");
}
@font-face {
  font-family: "IBM PlexSans Thai";
  src: url("IBMPlexSansThai-SemiBold.woff2");
  font-weight: bold;
}
html {
  font-family: "IBM PlexSans Thai";
  background-color: #f6f6f6;
}

input:focus-within ~ label,
input:not(:placeholder-shown) ~ label {
  @apply transform-gpu scale-75 -translate-y-3 z-0 ml-3 px-1 py-0;
}

input:focus-within ~ label {
  @apply text-base-bg;
}

*{
  margin: 0;
  padding: 0
}

html,
body {
  margin: 0;
  padding: 0
}

.scrollbar-hide {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
::-webkit-scrollbar-thumb {
  background: #FF0000;
}