@font-face {
  font-family: "IBM PlexSans Thai";
  src: url("IBMPlexSansThai-Regular.woff2");
}
@font-face {
  font-family: "IBM PlexSans Thai";
  src: url("IBMPlexSansThai-SemiBold.woff2");
  font-weight: bold;
}
html {
  font-family: "IBM PlexSans Thai";
}
